*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar{
  display: none;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}